@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.app {
  padding: 2.5rem;
}

.header {
  background-color: #3498db;
  color: #fff;
  padding: 1.1rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  text-align: center;
}

.sub-header {
  font-size: 2rem;
  margin: 1rem 0 2rem 0;
  text-align: center;
}

.mini-header {
  font-size: 1.5rem;
  margin: 1rem 0 2rem 0;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.action-button {
  background-color: #27ae60;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.2s;
}

.action-button:hover {
  background-color: #219653;
  transform: translateY(-2px);
}

.disabled-button {
  background-color: #ccc;
  color: #888;
  cursor: not-allowed;
}

.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 2rem;
  position: relative;
}

.card {
  border: 1px solid #ccc;
  padding: 2rem;
  margin-top: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.credit {
  color: #27ae60;
  text-align: center;
}

.debit {
  color: #f92f60;
  text-align: center;
}

.transaction-select,
.input-field {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.transaction-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.2s;
}

.transaction-button:hover {
  background-color: #2980b9;
  transform: translateY(-2px);
}

.transaction-list {
  margin-top: 2rem;
}
.list {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.scrollable-card {
  max-height: 40rem;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 2rem;
  margin-top: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style: none;
}

.icon {
  font-size: 3rem;
}

/* Styling for the overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  display: none;
}

.overlay.active {
  backdrop-filter: blur(4px); /* Apply the blur effect */
  pointer-events: auto; /* Enable clicks on the overlay */
  display: block;
}

/* Styling for the Success modal */
.success-overlay,
.confirm-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; /* Ensure it's above other content */
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-modal,
.confirm-modal {
  background-color: #f9f9f9;
  padding: 2rem;
  border-radius: 8px;
  width: max-content;
  height: max-content;
  /* height: 40%; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
  z-index: 10000;
}

/* Media query for mobile devices  */
@media (max-width: 768px) {
  .info {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .confirm-modal {
    width: 90%;
  }
}
