@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.app {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 20px;
}

.header {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sub-header {
  margin: 10px 0 20px 0;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.action-button {
  background-color: #27ae60;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.2s;
}

.action-button:hover {
  background-color: #219653;
  transform: translateY(-2px);
}

.disabled-button {
  background-color: #ccc;
  color: #888;
  cursor: not-allowed;
}

.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 2rem;
}

.card {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.transaction-select,
.input-field {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.transaction-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.2s;
}

.transaction-button:hover {
  background-color: #2980b9;
  transform: translateY(-2px);
}

.transaction-list {
  margin-top: 20px;
}

.scrollable-card {
  max-height: 400px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style: none;
}
